@model SwiftBookingTest.Web.Models.HomeViewModel
@{
    ViewBag.Title = "GetSwift";
}

<h2>GetSwift Code Test</h2>

@using (Html.BeginForm("Create", "Client", FormMethod.Post))
{
    <div>
        @Html.TextBox("Name")<br/>
        @Html.TextBox("Phone")<br/>
        @Html.TextBox("Address")<br/>
        
        <input type="submit" value="Add Person" />
    </div>
}

<div>
    <h3>Saved people</h3>
    <ul>
        @foreach (var client in Model.Clients)
        {
            <li><button class="book-swift-btn" data-id="@client.Id.ToString()">Book with GetSwift</button> <strong>@client.Name</strong> (@client.Phone) @client.Address</li>
        }        
    </ul>
</div>

<div style="background-color:#eee;padding:20px;">
    <div id="swift-api-response" style="font-family:'Courier New';font-size:small;">

    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        (function () {
            $(".book-swift-btn").on('click', function () {
                $('#swift-api-response').text('');                
                $.get('/SwiftApi/BookDelivery/' + $(this).data('id'), function(data) {
                    $('#swift-api-response').html(data);
                });
            });
        })(jQuery);
    </script>
}
