@using MvcFlashMessages
@model SwiftBookingTest.Web.Models.PersonsViewModel

@{
    ViewBag.Title = "Index";
}

<h2>GetSwift Code Test</h2>
@using (Html.BeginForm("Create", "Person"))
{
    @Html.TextBoxFor(m => m.Name, new { @placeholder = "Name" })<br/>
    @Html.TextBoxFor(m => m.Phone, new { @placeholder = "Phone" })<br/>
    @Html.TextBoxFor(m => m.Address, new {@placeholder = "Address"})<br/>

    <input type="submit" value="Add person"/>
}

<div>
    <h3>Saved people</h3>
    <ul>
        @foreach (var person in Model.SavedPeople)
        {
            <li>@using (Html.BeginForm(new {controller = "person", action = "book", personId = person.PersonId}))
                {
                    <input type="submit" value="Book with GetSwift"/>
                }
                @person.Name, @person.Phone, @person.Address </li>
        }

    </ul>

</div>

<div style="background-color: #eee; padding: 20px;">
    @Html.RenderFlash()
</div>